{% extends 'myapp/base.html' %}
{% load staticfiles %}
{% block primary %}
    <ul>
        <li>Titolo: {{ offerta.titolo }}</li>
        <li>Descrizione: {{ offerta.descrizione | linebreaks }}</li>
        <li>Docente: {{ offerta.docente.nome }} {{ offerta.docente.cognome }}</li>
        <li>Azienda: {{ offerta.azienda.user }}</li>
        <li>Corso: {{ offerta.corso }}</li>
        <li>Durata: {{ offerta.durata }} mesi</li>
        <li>Data di immissione: {{ offerta.data_pub }}</li>
        {% if not request.user.groups.all.0.name == 'Studenti' %}
        <li>Stato di valutazione: {{ offerta.get_stato_valutazione_display }}</li>
        <li>Stato richiedibilià: {{ offerta.get_macrostato_display }}</li>
        <li>Stato della offerta: {{ offerta.get_stato_display }}</li>
        {% endif %}
    </ul>

    {% if request.user.groups.all.0.name == 'Aziende' %}
        {% block aziende %}
        {% endblock %}
    {% elif request.user.groups.all.0.name == 'Docenti' %}

        {% block docenti %}
        {% endblock %}
    {% elif request.user.groups.all.0.name == 'Studenti' %}
        {% block studenti %}
        {% endblock %}
    {% endif %}
{% endblock primary %}

{% block content %}
    <h1>Per accedere a questa pagina bisogna essere autenticati.</h1><br>
    Accedi al seguente link: <a href='/accessoAziende'>Login Aziende
    <body vlink="blue"/>
</a>
{% endblock content %}

